[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/usr/bin/ubuntu-filemanager-app
Icon=/usr/share/ubuntu-filemanager-app/filemanager64.png
Name=File Manager
