[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=ubuntu-filemanager-app %u
Icon=/snap/ubuntu-filemanager-app/current/usr/share/filemanager/filemanager64.png
Name=File Manager
Name[am]=የ ፋይል አስተዳዳሪ
Name[ast]=Xestor de ficheros
Name[be]=Кіраўнік файлаў
Name[br]=Merer restroù
Name[bs]=Menadžer datoteka
Name[ca]=Gestor de fitxers
Name[cs]=Správce souborů
Name[de]=Dateiverwaltung
Name[el]=Διαχειριστής αρχείων
Name[en_GB]=File Manager
Name[eo]=Dosieradministrilo
Name[es]=Gestor de archivos
Name[eu]=Fitxategi-kudeatzailea
Name[fa]=مدیر پرونده
Name[fi]=Tiedostoselain
Name[fr]=Gestionnaire de fichiers
Name[fr_CA]=Gestionnaire de fichiers
Name[gd]=Manaidsear fhaidhlichean
Name[gl]=Xestor de ficheiros
Name[hu]=Fájlkezelő
Name[id]=Manajer Berkas
Name[it]=Gestore file
Name[lv]=Datņu pārvaldnieks
Name[nb]=Filbehandling
Name[pa]=ਫ਼ਾਈਲ ਮੈਨੇਜਰ
Name[pl]=Menedżer plików
Name[pt]=Gestor de ficheiros
Name[pt_BR]=Gerenciador de arquivos
Name[shn]=တူဝ်ၸတ်းၵၢၼ် ၾၢႆႇ
Name[sk]=Správca súborov
Name[sl]=Upravljalnik datotek
Name[sr]=Управник датотека
Name[tr]=Dosya Yöneticisi
Name[ug]=ھۆججەت باشقۇرغۇ
Name[zh_CN]=文件管理器
Name[zh_TW]=檔案管理員
X-Ubuntu-Touch=true
X-Ubuntu-Default-Department-ID=accessories
X-Ubuntu-Splash-Show-Header=true
X-Ubuntu-Splash-Color=#F5F5F5
