Source: ubuntu-filemanager-app
Priority: extra
Maintainer: Ubuntu App Cats <ubuntu-touch-coreapps@lists.launchpad.net>
Build-Depends: cmake,
               debhelper (>= 9),
               dh-apparmor,
               dh-translations,
               intltool,
               qtbase5-dev,
               qtdeclarative5-dev,
               qt5-default,
               pkg-kde-tools,
               python3-all,
               libtag1-dev,
               libpam0g-dev,
               libsmbclient-dev,
Standards-Version: 3.9.7
Section: misc
Homepage: https://launchpad.net/ubuntu-filemanager-app
Vcs-Bzr: https://code.launchpad.net/~ubuntu-filemanager-dev/ubuntu-filemanager-app/trunk

Package: ubuntu-filemanager-app
Architecture: any
Replaces: qtdeclarative5-placesmodel0.1,
          qtdeclarative5-archives0.1,
Depends: ${misc:Depends},
         ${shlibs:Depends},
         qtdeclarative5-qtquick2-plugin,
         qtdeclarative5-u1db1.0,
         qtdeclarative5-ubuntu-ui-toolkit-plugin | qt-components-ubuntu,
         qtdeclarative5-ubuntu-content1,
         libsmbclient,
Description: File Manager application
 Core File Manager application

Package: ubuntu-filemanager-app-autopilot
Architecture: all
Depends: ${misc:Depends},
         libautopilot-qt (>= 1.4),
         libqt5test5,
         ubuntu-filemanager-app (>= ${source:Version}),
         ubuntu-ui-toolkit-autopilot,
         python3-autopilot,
         python3-fixtures,
         python3-lxml,
Description: Autopilot tests for File Manager Application
 This package contains the autopilot tests for the File Manager
